<!--ユーザの詳細-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <!--↓ログインユーザーIDと、現在のユーザーが一致していたら-->
  <% if @user == current_user %>
    <!--編集へ飛ぶ際のマークをFontawesomeで設定が必要？-->
    <p><%= link_to "プロフィール編集のマーク",edit_user_path(@user) %></p>
  <% end %>
</div>

<!--ユーザの投稿一覧-->
<!--↑の記述は部分テンプレートへ-->
<%= render 'books/list',books:@books %>