<!--Aboutの遷移先-->
<div class="container">
  <div class="row">
    <h1 class="mx-auto px-3">
      Welcome to
      <!--本のアイコン-->
      <span><i class="fas fa-book"></i></span>
      <strong>Bookers</strong>!
    </h1>
  </div>
</div>
